.card-style {
    min-width: 200px;
    max-width: 200px;
    border: none;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .bg-gradient {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    border-radius: 20px;
  }
  